//All styles can be added here.
.hero-heading {
    @apply text-4xl mb-10 text-white font-medium;
}

.instructions {
    .sub-title {
        @apply text-gray-900 pb-2 border-b-2 border-gray-400 mb-5 text-xl font-medium;

        &+p {
            @apply mb-3
        }
    }

    .code {
        @apply block font-mono border rounded bg-gray-100 text-gray-700 px-4 py-5 leading-normal text-sm shadow;

        &.pre {
            @apply whitespace-pre;
        }

        em {
            @apply opacity-75;
        }
    }

}

.social {
    @apply block pt-6 text-gray-700;

    a {
        @apply text-blue-500 font-medium p-4;

        &:hover {
            @apply text-blue-700;
        }
    }
}

body {
    background: url(../img/bg.jpg) top center/100% no-repeat;
    overflow-x: hidden;
}

section:not(:first-child) {
    padding-top: 128px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    padding: 18px 0;

    .container {
        display: flex;
        align-items: center;
    }
}

.header__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(15px);
}


.header__logo {
    margin-right: auto;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    &:not(:last-child) {
        margin-right: 64px;
    }
}

.menu__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #F2F2F2;
    transition: all 0.3s linear;

    &:hover {
        color: #10A9B7;
    }
}

.header__phone {
    margin-left: 128px;
}

.phone__number {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #10A9B7;
}

.hero__flex {
    display: flex;
    justify-content: space-between;
}

.hero__left {
    max-width: 424px;
    padding-top: 196px;
}

.hero__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 99px;
    color: #F2F2F2;
    margin-bottom: 21px;
}

.hero__description {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 217.5%;
    color: #F2F2F2;
}

.hero__input {
    outline: none;
    max-width: 318px;
    background: #F2F2F2;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 16px 127px 16px 16px;
    margin-right: auto;

    &:focus {
        border: 2px solid #10A9B7;
    }
}

.hero__button {
    background: #10A9B7 url(../img/arrow.svg) center center no-repeat;
    padding: 18px 39px;
    border-radius: 12px;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        background: #44C8D4 url(../img/arrow.svg) center center no-repeat;
    }
}

.hero__form {
    margin-top: 112px;

    form {
        display: flex;
        align-items: center;
    }
}

.hero__form-description {
    margin-top: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9A9A9A;
}

.hero__right {
    display: flex;
}

.right__tab {
    width: 200px;
    height: 778px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s linear;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(41, 43, 37, 0) -57.39%, rgba(37, 40, 43, 0.48) 4.09%, #1C1C1C 100%);
        transition: all 0.4s linear;
    }

    &:not(:last-child) {
        margin-right: 24px;
    }
}

.right__tab:nth-child(1) {
    background: url(../img/heroTab/tab1.jpg) right center/cover no-repeat;
}

.right__tab:nth-child(2) {
    background: url(../img/heroTab/tab2.jpg) right center/cover no-repeat;
}

.right__tab:nth-child(3) {
    background: url(../img/heroTab/tab3.jpg) right center/cover no-repeat;
}

.right__tab:nth-child(4) {
    background: url(../img/heroTab/tab4.jpg) right center/cover no-repeat;
}

.tab__hover {
    height: 50%;
    width: 100%;
    z-index: 1;
}

.remove__after {
    &:after {
        opacity: 0;
    }
}

.hero__benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
}

.benefits__block {
    max-width: 200px;
    background: #2C2C2C;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.benefits__img {
    background: #10A9B7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.benefits__text {
    max-width: 113px;

    p {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #F2F2F2;
    }
}

.title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #F2F2F2;
    margin-bottom: 64px;
}

.catalog__flex {
    display: flex;
    background: #2C2C2C;
    border-radius: 8px;
    margin-bottom: 124px;
}

.catalog__flex:nth-child(2n-1) {
    flex-direction: row-reverse;
    justify-content: space-between;

    .catalog__navigation {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
    }

    .catalog__slide {
        img {
            border-radius: 0 8px 8px 0;
        }
    }
}

.catalog__container {
    max-width: 648px;
    position: relative;
}

.catalog__slide {
    img {
        border-radius: 8px 0 0 8px;
    }
}

.catalog__text {
    padding-top: 45px;
    padding-left: 25px;
}

.catalog__top {
    display: flex;
    align-items: center;
}

.catalog__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F2F2F2;
    margin-right: 24px;
}

.catalog__link {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #10A9B7;
    background: url(../img/upRight.svg)right center no-repeat;
    padding-right: 30px;
}

.catalog__bottom {
    margin-top: 23px;
    padding-left: 10px;
    max-width: 580px;
}

.catalog__list {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 200%;
    color: #9E9E9E;
    position: relative;
    padding-left: 20px;

    &:after {
        content: "";
        background-color: #9E9E9E;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

.catalog__navigation {
    position: absolute;
    top: 24px;
    margin-left: 24px;
    display: flex;
}

.catalog-button-prev {
    background: #10A9B7 url(../img/arrow.svg) center no-repeat;
    transform: rotate(180deg);
    border-radius: 6px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.catalog-button-next {
    background: #10A9B7 url(../img/arrow.svg) center no-repeat;
    border-radius: 6px;
    width: 50px;
    height: 50px;
}

.partner__wrapper {
    display: flex;
    justify-content: space-between;
}

.main__form {
    margin-top: 124px;
    padding-bottom: 64px;
    background: #2B2B2B;
}

.form__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__title {
    max-width: 522px;
}

.form__description {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9A9A9A;
}

.form__main {
    width: 500px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;

    form {
        display: flex;
        flex-direction: column;
    }
}

.form__main-input {
    outline: none;
    color: black;
    padding: 16px;
    width: 312px;
    margin-bottom: 24px;
    background: #F2F2F2;
    border: 1px solid #C4C4C4;
    border-radius: 8px;

    &::placeholder {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #C4C4C4;
    }
}

.form__main-btn {
    margin-top: 38px;
    background: #10A9B7;
    border-radius: 12px;
    padding: 15px 115px;
    cursor: pointer;
    color: #FFFFFF;
}

.portfolio__flex {
    display: flex;
}

.portfolio__item {
    &:not(:last-child) {
        margin-right: 25px;
    }
}

.news {
    padding-bottom: 256px;
}

.news__item {
    max-width: 312px;
}

.news__info {

    span {
        display: inline-block;
        color: #F2F2F2;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    h4 {
        display: inline-block;
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #F2F2F2;
        background: url(../img/check.svg) right center no-repeat;
        padding-right: 30px;
    }
}

.news__more {
    display: inline-block;
    margin-top: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #10A9B7;
    background: url(../img/more.svg) right center no-repeat;
    padding-right: 30px;
}

.news__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    background: #2B2B2B;
    padding-top: 64px;
    padding-bottom: 117px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.footer__deskription {
    max-width: 312px;
    margin-top: 48px;

    p {
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #F2F2F2;
    }
}

.footer__menu {
    li {
        &:not(:last-child) {
            margin-bottom: 32px;
        }

        a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #F2F2F2;
        }
    }
}

.footer__column {
    h5 {
        font-family: "Inter";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #F2F2F2;
    }
}

.footer__social {
    display: flex;
    margin-top: 20px;

    a {
        margin-right: 12px;
    }
}

.footer__adress {
    max-width: 198px;

    p {
        font-family: "Inter";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #F2F2F2;
    }
}